.lilita-one-regular {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
  }


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lilita One";
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  padding: 1rem; /* 1rem = 16px */
  background-color: rgb(16, 16, 16);
}

.container {
  width: 100%;
  max-width: 960px;
  background-color: rgb(64, 30, 255);
  border: 1px;
  color: rgb(72, 249, 143);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 3rem;
  color: aliceblue;
}

#taskInput {
  font-size: 1.2rem;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

#addButton {
  width: fit-content;
  padding: 1rem;
  background-color: rgb(120, 255, 2);
  border: none;
  border-radius: 1rem;
  color: rgb(6, 20, 18);
  font-size: 1.2rem;
  cursor: pointer;
}

#addButton:hover{
  background-color: rgb(5, 255, 184);
  color: aliceblue;
}

.task-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task{
  background-color: rgb(146, 16, 216);
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 1rem;
}

.task p {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
}

.task-icons {
  flex-shrink: 0;
}

.complete {
  background-color: rgb(68, 18, 125);
}

.complete p {
  color: rgb(241, 12, 210);
  text-decoration: line-through;
}

.task-icons i {
  font-size: 1.4rem;
  color:rgb(255, 157, 0);
}

.icon-complete:hover {
  color: cadetblue;
}

.icon-delete:hover {
  color: crimson;
}