body {
    background-color: rgb(16, 16, 16);
    color: aliceblue;
    font-family: Montserrat, sans-serif;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: none;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.emoji-cursor {
    position: absolute;
    font-size: 32px;
}